@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== 箇条書きスタイル統一 ===== */
.result-text ul {
  list-style-type: disc;  /* 普通の黒丸 */
  margin-left: 1.5rem;
}

.result-text li {
  font-size: 1rem; /* ← 大きさ調整 */
  margin-bottom: 0.35rem;
}
